/*
* @Author: Administrator
* @Date:   2017-10-15 10:57:53
* @Last Modified by:   Administrator
* @Last Modified time: 2017-10-19 10:13:44
*/
@import url("base.css");

header{
	width: 100%;
	height: 1.3rem;

	border-bottom: 1px solid #ccc;

	position: relative;
}
.title{
	width: 100%;
	height: 1.3rem;
	font-size: 0.32rem;
	color: #000;
	text-align: center;
	line-height: 1.3rem;

}
.renzheng{
	display: block;
	width: 0.9rem;
	height: 0.6rem;
	background: #ccc;
	border-radius: 20rem;

	font-size: 0.26rem;
	color: #000;
	text-align: center;
	line-height: 0.6rem;

	position: absolute;
	top: 0.4rem;
	right: 0.24rem;
}
.xinxi{
	width: 100%;
	height: 3.16rem;
	border-bottom: 1px solid #ccc;
	display: flex;
}
.touxiang{
	width: 37.5%;
	height: 100%;
	
	/* padding-left:0.3rem; */ 
	
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: space-around;
}
.pic{
	width: 1.6rem;
	height: 1.6rem;
	
}
.pic img{
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 50%;
}
.name{
	width: 100%;
	font-size: 0.2rem;
	color: #000;
	text-align: center;

}
.ziliao{
	width: 65.7%;
	height: 100%;
	
}
.list{
	width: 100%;
	height: 1.20rem;


	display: flex;
	justify-content: space-around;
}
.list li a{
	display: block;
	width: 0.8rem;
	font-size: 0.3rem;
	color: #000;
	text-align: center;
	line-height: 0.8rem;
}
.bianji{
	width: 3.6rem;
	height:  0.7rem;
	margin: 0 auto;
	border-radius: 0.3rem;
	border: 0.01rem solid #999;

	font-size: 0.28rem;
	color: #999;
	text-align: center;
	line-height: 0.7rem;
	text-decoration: underline;
}
.biao{
	width: 100%;
	height: auto;

	overflow: hidden;
	padding-bottom: 1rem;
}

.liebiao{
	display: block;
	width: 100%;
	height: 1.3rem;
	padding-left: 0.3rem;
	border-bottom: 1px solid #ccc;

}
.icon{
	width: 0.36rem;
	height: 100%;
	
	float: left;
}
.icon .iconfont{
	display: block;
	font-size: 0.36rem;
	color: #000;
	line-height: 1.2rem;
}
.mingcheng{
	width: 2rem;
	height: 100%;

	padding-left: 0.1rem;
	float: left;
	color: #666;
	font-size: 0.26rem;
	line-height: 1.2rem;
}
.jiantou{
	width: 1rem;
	height: 100%;
	float: right;
	font-size: 0.24rem;
	color:#666;
	text-align: center;
	line-height: 1.2rem; 
}















/* footer开始 */

footer{

	width: 100%;
	height: 1rem;
	background: #fff;
	border-top: 0.01rem solid #acacac;

	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 1000;

}

.footer-list{
	width: 100%;
	height: 100%;
	padding: 0.2rem 0.6rem;

	display: flex;
	justify-content: space-between;

}
.footer-name{
	width: 0.60rem;
	height: 0.65rem;
	


}	
.footer-name a{
	width: 100%;
	height: 100%;
	display: block;

	display: flex ;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: space-between;
}
.footer-icon{
	width: 100%;
	height: 0.35rem;
	
}


.footer-icon .iconfont{
	display: block;
	text-align: center;
	font-size: 0.35rem;
	color: #000;

}

.footer-title{
	width: 100%;
	height: 0.18rem;
	

	font-size: 0.18rem;
	text-align: center;
	line-height: 0.18rem;
	color: #666666;

}
.footer-list li:last-child a .footer-icon .iconfont{
		color: red;
}
.footer-list li:last-child a .footer-title{
		color: red;
}
/* footer结束 