/*
* @Author: Administrator
* @Date:   2017-10-15 11:01:57
* @Last Modified by:   Administrator
* @Last Modified time: 2017-10-19 10:12:12
*/
@import url("base.css");

header{
	width: 100%;
	height: 0.88rem;
	background: #fff;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;

}
header ul{
	width: 100%;
	height: 100%;
	padding: 0 1rem;

	display: flex;
	justify-content: space-between;

}

header ul li a{
	display: block;
	width: 0.66rem;
	height: 0.88rem;
	font-size: 0.3rem;
	color: #ccc;
	text-align: center;
	line-height: 0.88rem;
	text-decoration: underline;

}

header ul li:first-child a{
	color: #000;
	
}
header .iconfont{
	font-size: 0.4rem;
	color: #000;
	position: absolute;
	right: 0.2rem;
	top: 0.3rem;

}
main{
	width: 100%;
	padding-top: 0.88rem;
}
.zhonglei{
	width: 100%;
	height: 100%;
	
	display: flex;
	justify-content: space-around;
}

.zhonglei li{
	width: 2.2rem;
	height: auto;
	padding: 0.1rem;
	overflow: hidden;	
	
}
.zhonglei li a{
	display: block;
	width: 100%;
	height: 100%;

}
.listpic{
	width: 100%;
	height: 2rem;
	border-radius: 50%;
}
.listpic img{
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 50%;
}
.listname{
	width: 100%;
	height: 0.4rem;


	font-size: 0.24rem;
	color: #000;
	text-align: center;
	line-height: 0.4rem;

}
.wuzhong{
	width: 100%;
	display: flex;


}
.wuzhong li{
	margin-left: 0.1rem;
	
}
.wuzhong li a{
	display: block;
	width: 1.5rem;
	height: 1.88rem;
	
	border: 0.01rem solid #d6d6d6;
	
}
.wuzhong li a img{
	display: block;
	width: 100%;
	height: 50%;
}
.wuzhong-name{
	width: 100%;
	height: 50%;

	font-size: 0.24rem;
	color: #666666;
	text-align: center;
	line-height: 0.8rem;
}

/* shiping */
.shiping{
	width: 100%;
	height: auto;
}

.top-head{
	width: 100%;
	height: 1.2rem;
	padding: 0.2rem 0.26rem;


	display: flex;
	justify-content: space-between;
}
.top-head-left{
	width: 1.8rem;
	height: 0.8rem;

	overflow: hidden;

	display: flex;
	justify-content: space-around;


}
.dian{
	width: 0;
	height: 0;
	border: 0.12rem solid #000;
	border-radius: 50%;
	margin-top:0.24rem;
	
}
.title-word{

	width: 1.40rem;
	height: 100%;


	font-size: 0.34rem;
	color: #000;
	text-align: center;
	line-height: 0.8rem;
	
}
.top-head-right{
	width: 0.2rem;
	height: 0.2rem;
	
	margin-top: 0.2rem;

	font-size: 0.2rem;
	color: #000;
}
.shiping ul{
	width: 100%;
	height: auto;
	padding-bottom: 1rem;
	overflow: hidden;
}
.shiping ul li{
	width: 100%;
	height: 4rem;

	padding-top: 0.1rem;
	position: relative;
}
.shiping ul li img{
	display: block;
	width: 100%;
	height: 100%;
}
.shiping ul li .iconfont{
	font-size: 0.3rem;
	color: #000;
	 position: absolute;
	 right: 0.1rem;
	 bottom: 0.1rem;
}













/* footer开始 */

footer{

	width: 100%;
	height: 1rem;
	background: #fff;
	border-top: 0.01rem solid #acacac;

	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 1000;

}

.footer-list{
	width: 100%;
	height: 100%;
	padding: 0.2rem 0.6rem;

	display: flex;
	justify-content: space-between;

}
.footer-name{
	width: 0.60rem;
	height: 0.65rem;
	


}	
.footer-name a{
	width: 100%;
	height: 100%;
	display: block;

	display: flex ;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: space-between;
}
.footer-icon{
	width: 100%;
	height: 0.35rem;
	
}


.footer-icon .iconfont{
	display: block;
	text-align: center;
	font-size: 0.35rem;
	color: #000;

}

.footer-title{
	width: 100%;
	height: 0.18rem;
	

	font-size: 0.18rem;
	text-align: center;
	line-height: 0.18rem;
	color: #666666;

}

.footer-list li:nth-child(2) a .footer-icon .iconfont{
		color: red;
}
.footer-list li:nth-child(2) a .footer-title{
		color: red;
}
/* footer结束 