/*
* @Author: Administrator
* @Date:   2017-10-15 13:12:54
* @Last Modified by:   Administrator
* @Last Modified time: 2017-10-19 14:28:56
*/
@import url("base.css");


header{
	width: 100%;
	height: 0.88rem;
	
	padding-right: 0.18rem;

	display: flex;
	justify-content: space-between;

}
.fanhui{
	width: 22%;
	height: 100%;
	
}
.fanhui a{
	display: block;
	width: 100%;
	height: 100%;

	font-size: 0.36rem;
	color: #000;
	text-align: center;
	line-height: 0.88rem;
}
.box{
	width: 1.8rem;
	height: 100%;

}
.gouwuche{
	display: block;
	width: 50%;
	height: 100%;
	float: left;

	font-size: 0.4rem;
	color: #000;
	text-align: center;
	line-height: 0.88rem;
}

.fenxiang{
	width: 50%;
	height: 100%;
	float: left;

	font-size: 0.4rem;
	color: #000;
	text-align: center;
	line-height: 0.88rem;
}
/* main */
main{
	width: 100%;
	height: auto;
	overflow: hidden;
	padding-bottom: 1rem;
}
.tupian{
	width: 100%;
	height: 6.4rem;

	position: relative;
}
.pic{
	width: 100%;
	height: 6.4rem;

	position: relative;
}
.pic li{
	width: 100%;
	height: 100%;
	background-color: pink;

	position: absolute;
	top: 0;
	left: 0;
}
.pic li img{
	display: block;
	width: 100%;
	height: 100%;
}
.btn{
	width: 1.2rem;
	height: 0.16rem;

	position: absolute;
	bottom: 0.3rem;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto; 
}
.btn li{
	width: 0.14rem;
	height: 0.14rem;
	float: left;
	border-radius: 50%;
	background: #000;
	margin: 0 0.08rem;

}
.name{
	/* width: 100%; */
	height: auto;
	padding-left: 0.3rem;
	padding-right: 1.2rem;

	font-size: 0.3rem;
	color: #000;
	line-height: 0.4rem;

}
.price{
	/* width: 100%; */
	padding:0.2rem 0.3rem;
	font-size: 0.36rem;
	color: orange;

}
.yuexiao{
/* 	width: 100%; */
	padding:0.1rem 0.3rem;
	font-size: 0.22rem;
	color: #ccc;
}
.size,.canshu{
	width: 100%;
	padding:0.2rem 0.3rem;
	font-size: 0.30rem;
	border-bottom: 0.01rem solid #ccc;
	color: #000;
}
.pingjia{
	width: 100%;
	height: 4rem;
	margin-top: 0.3rem;
/* 	border: 0.01rem solid #ccc; */
}
.pingjia{
	padding:0.1rem 0.3rem; 
	font-size: 0.24rem;
	color: #000;
}
.pj-top{
	padding-bottom: 0.1rem;
}
.content{
	padding-top: 0.1rem;
	border: 0.01rem solid #000;
	border-radius: 0.2rem;

}
.cheader{
	width: 100%;
	height: 0.8rem;
	padding-top: 0.1rem;


}
.tx{
	width: 0.6rem;
	height: 0.6rem;
	border-radius: 50%;
	float: left;

}
.tx img{

	display: block;
	width: 100%;
	height: 100%;
	border-radius: 50%;
}
.name{
	width: 4rem;
	height: 100%;
	float: left;
	padding-left: 0.1rem;
	font-size: 0.24rem;
	color: #000;
	line-height: 0.4rem;
}
.pjnr{
	width: 100%;
	padding: 0 0.1rem;
	font-size: 0.24rem;
	color: #000;
	line-height: 0.36rem;
	margin-bottom: 0.1rem;
}

.gengduo{
	display: block;
	width: 2rem;
	height: 0.6rem;
	background: black;
	border: 0.01rem solid #ccc;
	border-radius: 0.6rem;
	margin: 0.2rem auto;

	font-size: 0.24rem;
	color: #fff;
	text-align: center;
	line-height: 0.6rem;
	text-decoration: underline;
}

/* footer */
footer{
	width: 100%;
	height: 1rem;
	background: #fff;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 1000;
}
.icon{
	width: 2.7rem;
	height: 100%;

	float: left;
}
.icon li{
	width: 0.9rem;
	height: 100%;
	float: left;


}
.icon li .iconfont{
	display: block;
	font-size: 0.4rem;
	color: #000;
	text-align: center;
	line-height: 1rem;
}
.jiaru,.goumai{
	width: 1.85rem;
	height: 100%;
	float: left;
	background-color: #f7f7f7;

	font-size: 0.24rem;
	color: #000;
	text-align: center;
	line-height: 1rem;
	text-decoration: underline;

}
.goumai{
	color: #fff;
	background-color: #000;
}